<ul class="nav navbar-nav" ng-show="makes">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Makes <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ng-click="selectMake(make._id)" ng-repeat="make in makes"><a href="#">{{make.name}}</a></li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav" ng-show="models">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ng-click="selectModel(model)" ng-repeat="model in models"><a href="#">{{model.name}}</a></li>
    </ul>
  </li>
</ul>
